@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,900;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;

}

div.game-container {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

div.menu {
    grid-column: 2/3;
    grid-row: 2/3;
}

div.footer {
    grid-column: 1/3;
    grid-row: 3/4;
}


div.game {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: repeat(4, 160px);
    margin: auto;
}



.grid-cell button {
    width: 160px;
    transition: all 1s;

}

.flip-card {
    margin: 10px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 20px;
    transition: 1s;
    background-color: transparent;
    width: 140px;
    height: 140px;
    border: none;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s, opacity 0.4s;
    transform-style: preserve-3d;
    border-radius: 5px;


}

/* Do an horizontal flip when you move the mouse over the flip box container */
/*
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}*/

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 5px;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}